---

---


<section class="h-[100dvh] w-[100%] flex justify-center items-center" id="animation">
    <div class="flex flex-col justify-center items-center z-30">

        <a href="https://github.com/michalsnik/aos?tab=readme-ov-file" target="_blank" class="h-9 group w-fit flex items-center justify-center gap-0 bg-astro-dark-900/55 rounded-full" data-aos = "fade-down" data-aos-delay="500">
            <div class="px-3 h-full w-fit flex items-center gap-2 bg-gradient-to-tr from-[#9840fd] to-[#ff00c3] rounded-full">
                <span class="text-sm text-white font-light">
                    Aos-Animate 🚀
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-white block sm:hidden" viewBox="0 0 24 24">
                    <path fill="currentColor" d="m16.172 11l-5.364-5.364l1.414-1.414L20 12l-7.778 7.778l-1.414-1.414L16.172 13H4v-2z"></path>
                </svg>
            </div> 
            <div class="hidden sm:flex px-3 h-full w-fit items-center justify-center gap-2"> 
                <span class="group-hover:underline font-light text-white/60">
                    Use the AOS library to integrate dynamic effects
                </span> 
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4 text-astro-gray-100" viewBox="0 0 24 24"> 
                    <path fill="white" d="m16.172 11l-5.364-5.364l1.414-1.414L20 12l-7.778 7.778l-1.414-1.414L16.172 13H4v-2z"></path> 
                </svg> 
            </div> 
        </a>

        <h1 class="text-white max-w-[50rem] sm:max-w-[50rem] px-3 md:px-0 sm:text-5xl md:text-6xl text-4xl font-bold text-center z-10 pt-[40px]" data-aos = "fade-down" data-aos-delay="200">
            Open-Source UI elements for any project
        </h1>

        <h2 class="z-10 text-white/60 mt-6 text-center max-w-[550px] sm:max-w-[550px] px-4" data-aos="fade-up" data-aos-delay="100">
            Feel free to use this improved version to highlight the benefits and features of the AOS library effectively!
        </h2>

        <div class="grid grid-rows-2 gap-2 pt-[40px]">
            <a data-aos="fade-up" target="_blank" data-aos-delay="300" href="https://github.com/michalsnik/aos" class="primary w-full h-fit px-4 py-2 group inline-flex items-center justify-center gap-2 rounded-full border text-base font-normal transition-all ease-in-out duration-500 hover:cursor-pointer">
                <span class="text-white/60">Documentation 📝</span>
            </a>
            <div class="px-4 py-2 bg-gradient-to-tr from-[#9840fd] to-[#ff00c3] rounded-xl" data-aos = "fade-up" data-aos-delay="500">
                <div class="group h-full flex items-center">
                    <svg width="22" height="13" viewBox="0 0 22 13" fill="white" xmlns="http://www.w3.org/2000/svg" class="mr-2 relative block w-3 -rotate-90 text-astro-gray-200 " aria-hidden="true">
                        <path d="M1 1L11 11L21 1" stroke="currentColor" stroke-width="2"></path>
                    </svg>
                    <code class="flex-1 font-mono font-light text-sm text-white mr-2">
                        npm install aos --save
                    </code>                   
                </div>
            </div>
        </div>
    </div>
</section>