---

---

<section class="h-max w-[100%] bg-black" id="pag1">
    <div class="pt-10 pb-0 relative">
    <div class="flex flex-col gap-[10px] mt-auto pb-6">
      <h2 class="text-3xl font-bold text-gray-100 text-center relative">AOS animate attributes</h2>

        <div class="group flex gap-[1rem] overflow-hidden flex-row" style="mask-image: linear-gradient(to right, transparent 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, transparent 100%); --duration: 130s;">
            <div class="move_ankor flex justify-around [--gap:1rem] shrink-0 animate-marquee-left flex-row group-hover:pause gap-[10px]">
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>    
                
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>    

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>                    
            </div>                        
        </div>


        <div class="group flex gap-[1rem] overflow-hidden flex-row" style="mask-image: linear-gradient(to right, transparent 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%, transparent 100%); --duration: 130s;">
            <div class="move_ankor flex justify-around [--gap:1rem] shrink-0 animate-marquee-right flex-row group-hover:pause gap-[10px]">
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>     
                               
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>  
                
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>     
                               
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-up-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-right</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">fade-down-left</a>                      

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">flip-right</a>  

                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-up</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-down</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-left</a>
                <a class="bg-gradient-to-br rounded-md px-3 py-2 m-1 overflow-visible text-gray-300 opacity-50 from-dark-600 to-dark-700" href="">slide-right</a>  
            </div>                        
        </div>
    </div>
</section>


<style>
    @keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee-left {
    display: flex;
    width: 100%; 
    animation: marquee-left 70s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-marquee-right {display: flex;width: 100%; animation: marquee-right 70s linear infinite;}
.group-hover\:pause:hover .animate-marquee-right, .group-hover\:pause:hover .animate-marquee-left {animation-play-state: paused;}
.move_ankor a {width: max-content; min-width: max-content;}
</style>


